body {
  font-family: 'Eczar', serif;
  background-color: #eee;
  padding: 15px;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

p {
  hyphens: auto;
  text-align: justify;
}

footer {
  display: flex;
  align-items: flex-end;
  margin-top: -1.45rem;
}

footer .icon {
  margin-left: auto;
}

.heart-icon {
  color: #FF4136;
  font-size: 4.5rem !important;
}

.container {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #ddd;
}

.signature > p {
  margin-bottom: 0;
  text-indent: 0;
}

.signature > p + p {
  margin-top: 0;
}

.opening {
  display: flex;
}

.opening-image {
  margin-left: auto;
}

@media (max-width: 660px) {
  .opening {
    flex-wrap: wrap;
  }

  .opening-image {
    margin-left: 0;
    margin-right: 0;
  }
}

.avatar {
  max-width: 160px;
  border-radius: 5px;
}

.section-title {
  margin-top: 1.5rem !important;
}

.emoji {
  display: inline;
  max-width: 20px;
  margin-bottom: -5px;
}
